<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.KyotoTour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splashart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashart"
        android:supportsRtl="true"
        android:theme="@style/Theme.KyotoApl">
        <activity
            android:name=".Transportasi.TampilkanIsiTransportasi"
            android:exported="false" />
        <activity
            android:name=".Transportasi.Transportasi"
            android:exported="false" />
        <activity
            android:name=".InformasiTambahan.TentangPrefektur"
            android:exported="false" />
        <activity
            android:name=".recyclecari.ListKonten"
            android:exported="false" />
        <activity
            android:name=".recyclecari.TampilkanIsiKonten"
            android:exported="false" />
        <activity
            android:name=".KategoriKonten"
            android:exported="false" />
        <activity
            android:name=".InformasiTambahan.ShrinedanTample"
            android:exported="false" />
        <activity
            android:name=".InformasiTambahan.TentangKyoto"
            android:exported="false" />
        <activity
            android:name=".InfoApp.InfoActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="***************************************" />
    </application>

</manifest>